{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.2"}}
 :aliases
 {:run-m {:main-opts ["-m" "saguywalker.monkey-clj"]}
  :run-x {:ns-default saguywalker.monkey-clj
          :exec-fn -main 
          :exec-args {:name "Clojure"}}
  :build {:deps {io.github.clojure/tools.build
                 {:git/tag "v0.9.2" :git/sha "fe6b140"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}
  :kibit {:extra-deps {tvaughan/kibit-runner {:mvn/version "1.0.1"}}
          :main-opts ["-m" "kibit-runner.cmdline"]}}}
